<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center container">
  <h4>CRUD operacije</h4>
  <table class="table table-bordered">
   <tr>
     <th>
       Ime
     </th>
     <th>
       Prezime
     </th>
     <th>
      <button mat-raised-button (click)="openAdd()">Add</button>
     </th>
   </tr>
   <tr *ngFor="let item of table" #jedanRed>
     <td>
        {{item.ime}}
     </td>
     <td>
       {{item.prezime}}
     </td>
     <td style="width: 300px;">
      <button mat-raised-button color="primary" style="margin-right: 20px;" (click)="openDialog(jedanRed)">Edit</button>
      <button mat-raised-button color="warn" (click)="brisanje(jedanRed)">Delete</button>
     </td>
   </tr>
   
  </table>
</div>


